        <div class="modal-header">
            <h3>Add new event!</h3>
        </div>
        <div class="modal-body">
           
            <input ng-model="addEvent.title"  />
            <input type="datetime-local" ng-model="addEvent.startDate"  />
            <input type="datetime-local" ng-model="addEvent.endDate"  />
           <input  ng-model="addEvent.location"  />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="add()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>