        <div class="modal-header">
            <h3>Add new event!</h3>
        </div>
        <div class="modal-body">
           
            <span class="modal-label">Event: </span><input class="input-event" ng-model="addEvent.title"  />
			<br><br>

            <span class="modal-label">Location: </span><input class="input-event" ng-model="addEvent.location"  />
			
			<div class="event-date">
				<span class="modal-label">Start date: </span><input type="datetime-local" ng-model="addEvent.startDate"  />
				<br>
				<span class="modal-label">End date: </span><input type="datetime-local" ng-model="addEvent.endDate"  />
			</div>
			
			
			
			
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="add()">Add</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
